
<br>
<div class="container">
  <div class="blog-card-show">
    <div class="photo"><%= cl_image_tag @article.picture.path %></div>
    <br>
    <div class="description">
      <h1><%= @article.title %></h1>
      <h2><%= @article.preface %></h2>
      <p class="summary"><%= @article.description.html_safe %></p>
    </div>
  </div>
</div>

<% if policy(@article).edit? %>
  <td><%= link_to 'Edit', edit_article_path(@article) %></td>
  <td><%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
