<header>
  <div class="center-block text-center">
    <h3>
    <%= link_to " Easy Gems", root_path, class: "fa fa-diamond fa-2x" %>
    </h3>
  </div>
</header>

<nav class="navbar navbar-default mega-nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#MainMenu" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="MainMenu">
      <ul class="nav navbar-nav menu-list">
        <li><%= link_to "Accueil", root_path %></li>
        <li><%= link_to "Categories", categories_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %>
          <li><%= link_to "Créer un article", new_article_path %></li>
          <% if controller_name == "articles" && action_name == "show"  %>
            <% if policy(@article).edit? %>
            <li><%= link_to 'Edit', edit_article_path(@article) %></li>
            <li><%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %></li>
            <% end %>
          <% end %>
        <% else %>
          <li><%= link_to "Se connecter", new_user_session_path %></li>
        <% end %>
      </ul>
      <form class="form-inline">
        <div class="navbar-right">
          <div class="form-group" style="padding-top: 8px">
            <%= form_tag articles_path, :method => 'Get' do %>
              <%= text_field_tag :search, params[:search], data: { autocomplete: autocomplete_article_title_articles_path }, class: "form-control", placeholder: "Rechercher une Gem" %>
          </div>
              <%= submit_tag "Search", class: "btn btn-danger" %>
            <% end %>
        </div>
      </form>
    </div>
  </div>
</nav>

